<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>DOIT MOBILE</title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header class="contact">
                <h1>Mobile development specialist</h1>
        </header>
        <div class="logo-container">
            <p class="logo">
                <img src="images/doit-mobile-logo.png" alt="DOIT MOBILE" title="DOIT MOBILE" width="128" height="51"/>
            </p> 
        </div>
        <div class="content content-contact">

            <p class="button" id="contact-us" >
                <a href="mailto:eoin@doit-mobile.com">Contact us</a>
            </p>

            <p class="button" id="call-us" >
                 <a href="tel:+353876436162">Call us</a>
            </p>
            <p>
                Since 2009, DoItMobile has been engaging with top brands like Microsoft and Telefonica to design and develop fit for purpose mobile experiences. Our approach is simple, but our process is deeply rooted in innovation, cutting edge technology and creative strategy. Together with our clients, we uncover ways to drive mobile engagement. From newly conceived mobile app technology to sophisticated content delivery mechanisms, we use strategic and business objectives to guide the creative and development process through utilising our custom built mobile cloud technology.
            </p>


        </div>

    </body>

</html>
