<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/style.css">    
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">  
    </head>

    <body>
        <ul class="list">

            <li class="event"  style="background: url(images/friday.jpg) top right no-repeat ; background-size:100% auto">

                
                <a class="details-container" href="event:nav/open+view@EventsView+date@2014-11-06">
 
                    <div class="details">
                        <p class="date"> FRIDAY 14th November </p>
                        <h1 class="description">Festival and Events Driving Local Economies</h1>
                    </div>
                    <p class="arrow"><img src="images/listArrow-pink.png"/></p>
                </a>
            </li>

            <li class="event" style="background: url(images/saturday.jpg) top right no-repeat ;  background-size:100% auto">

                
                <a class="details-container" href="event:nav/open+view@EventsView+date@2014-11-15">

                    <div class="details">
                        <p class="date"> SATURDAY 15th November </p>
                        <h1 class="description">New Tools for New Times. Money, Marketing, Management</h1>
                    </div>
                    <p class="arrow"><img src="images/listArrow-pink.png"/>  </p>
                </a>
            </li>
        </ul>
    </body>
</html>
