<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header class="list">
            <div><img src="images/nagp-days.png" ></div>
        </header>
        <div class="content-list">
            <ul class="list">
                <li class="event">
                    
                        <p class="date"> 
                            FRIDAY <br/><strong>14th November </strong>
                        </p>
                
                    <p class="arrow">
                        <img src="images/listArrow-white.png"/>
                    </p>
                </li>

                <li class="event">
                    
                        <p class="date"> 
                            SATURDAY <br/> <strong>15th November </strong>
                        </p>
                  
                    <p class="arrow">
                        <img src="images/listArrow-white.png"/>  
                    </p>
                    
                </li>
            </ul>
        </div>
    </body>
</html>