<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>event page</title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header class="event-page">
                <p class="date">FRIDAY, 14th November</h1>
        </header>
        <div class="content">
             <p class="time">12:30 - 13:30</p> 
             <h1> Asthma </h1>

            <p class="description">
                A practical approach for primary care !!
            </p>
            <p class="title speakers"> Speaker </p>
            <p><a class="speaker-link" href="#"> Dr. Dermot Nolan </a></p>
        </div>

    </body>

</html>