<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>{startTime} - {endTime}</title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header class="event-page">
                <p class="date">{startDate}</h1>
        </header>
        <div class="content">
             <p class="time">{startTime} - {endTime}</p> 
             <h1>{title}</h1>

            <p class="description">{content|s}</p>
           {#performer} 
            <p class="title speakers"> Speaker </p>
            <p><a class="speaker-link" href="event:nav/open+view@view:SpeakerWebView+html@subs:/aoife/speaker-{id}.html">{title}</a></p>
            {/performer}
        </div>

    </body>

</html>
