<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>Location</title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header class="location">
                <h1>The Limerick Strand Hotel</h1>
        </header>
        <div class="content">
            <p>The Limerick Strand Hotel is located along the scenic bank of the River Shannon, the hotel is easily accessible from all major driving routes including the N7 and N69, the new M7 Limerick to Dublin route is now complete, making Dublin just a 90 minute drive from the Limerick Strand Hotel.</p>
 
            <p>There is an on-site underground car park at the hotel with over 200 spaces, please note - our car park is chargeable at €6 per 24 hrs for residents at hotel.
             </p>
        </div>
    </body>

</html>



