<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>SHARE NAGP EVENT APP</title>
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">    
    </head>
    <body>
        <header class="follow" id="followus">
                <h1>Follow us on social media</h1>
        </header>

        <div class="content content-contact">

            <p class="button follow" id="twitter">
                <a href="https://twitter.com/chrisgoodey43" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
            </p>
            <p class="button follow" id="facebook">
                 <a href="https://www.facebook.com/nagp.ireland" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            </p>
            <p class="button follow" id="linkedin">
                 <a href="https://www.linkedin.com/in/chrisgoodey" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
            </p>
        </div>
    </body>

</html>
