<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>SHARE NAGP EVENT APP</title>
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">    
    </head>
    <body>
        <header class="follow" id="followus">
                <h1>Follow us on social media</h1>
        </header>

        <div class="content content-contact">
            <p class="button" id="twitter">
                <a href="https://twitter.com/hashtag/nagp14" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
            </p>
            <p class="button" id="facebook">
                 <a href="https://www.facebook.com/nagp.ireland" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            </p>
            <p class="button" id="linkedin">
                 <a href="https://www.linkedin.com/profile/view?id=46907319&authType=OUT_OF_NETWORK&authToken=VgI_&locale=en_US&srchid=642906051415389919949&srchindex=1&srchtotal=5&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A642906051415389919949%2CVSRPtargetId%3A46907319%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
            </p>
        </div>
    </body>

</html>