body, div, ul, a, h1, h2, h3, span {
	padding: 0;
	margin: 0;
}
ul { 
	list-style: none;
}
p {
	margin: 6px 0 ;
}
.table-responsive {
	margin-right: -15px;
	margin-left: -15px;
}
a, a:hover, a:active, a:visited { 
	text-decoration: none; 
	color:#000;
}
.position-absolute { 
	position: absolute;
	width:100%;
}
.hide { 
	display: none;
}
.visible { 
	display: visible
}
.block {
	display: block;
}
.fixed {
	margin-top:0 ;
	display: none;
}
header, .header {
	padding: 30px ;
	text-align: center;
}

/* review to set any content in the shape */
/* IMAGE SHAPES */
.shape-image > p, .shape-time > p {
	padding:0;
	margin:0;
}

/* banner image */
.shape-image, .shape-time { 
	margin: 0 -15px;
	padding: 0;
}

.shape-image > p > span > img, .shape-time > p > span > img  {
	width: 100%;
	height: 230px;
	visibility: hidden;
}

/* content style classes */
.dropCap > p:first-child:first-letter { 
	float: left;
	font-size: 36pt;
	line-height: .8;
	padding-right: 4px;
	font-weight: 600;
}

/* buttons */
.btn {
	padding:0 ;
	width:100%;
}
.btn > a {
	display: block;
	padding: 10px 6px;
	color: #fff;

}

{#header}
	header,  .header {
		background : {backgroundColor};
	}
{/header}
{#date}
	.date{
		font-size: {fontSize} ;
		color: {fontColor} ;
		font-style: {fontStyle} ;
		font-family: {fontFamily} ;
	}
{/date}
{#title}
	header > h1,  .header > h1{
		font-size: {fontSize} ;
		color: {fontColor} ;
		font-style: {fontStyle} ;
		font-family: {fontFamily} ;
	}
{/title}
{#time }
	.time {
		font-size: {fontSize} ;
		color: {fontColor} ;
		font-style: {fontStyle} ;
		font-family: {fontFamily} ;
		background-color: {backgroundColor}	
	}
	{#shape}
		.shape-time > p > span { 
			width: 183px;
			padding: 4px;
			margin: 0 auto;
			text-align: center;
			background-color: #fff;
			border-radius: 100%;
			display: block
		}
		.shape-time > p > span > p{
			border-radius: 100%;
			display: table-cell;
			width: 175px;
			height: 175px;
			vertical-align: middle;
			font-size: 20px;
			background-color: #f8f8f8;
		} 

		.shape-time > p{
			height:87.5px;
		}
		.shape-time > p:first-child{
			margin: 0 -15px;
			background-color: {backgroundColor};
		}
	{/shape}

{/time}
{#image }

	{#shape}
		.shape-image > p > span { 
			width: 183px;
			height: 183px;
			padding: 4px;
			margin: 0 auto;
			text-align: center;
			background-color: #fff;
			border-radius: 100%;
			display: block
		}
		.shape-image > p > span > img{
			border-radius : 100%;
			width:100%;
			height:100%;
			visibility: visible;
		} 
		.shape-image > p{
			height:87.5px;
		}
		.shape-image > p:first-child{
			margin: 0 -15px;
			background-color: {backgroundColor};
		}
	{/shape}
{/image}
{#content}
	.content{
		font-size: {fontSize} ;
		color: {fontColor} ;
		font-style: {fontStyle} ;
		font-family: {fontFamily} ;
		text-align: {alignment};
		background-color: {backgroundColor}
	}

{/content}


