
/*

{
	font: {
		googleFont : 'Roboto';
		body {
			size: '16px',
			family: 'roboto',
			style: 'normal',
			weight: 400,
			color: #000,
			lineHeight: 1.8

		},
		title {
			size: '1.8em',
			family: 'roboto',
			style: 'italic',
			weight: 100,
			color: #fff,
			lineHeight: 1.8
		}
		tabs:  'roboto
	},

	color: {
		highlight: #E51C23,
	
		body {
			text: #000,
			background: #fff;

		},
		title {
			text: #fff,
			background: #4dbd9d,
		}

	},
}

*/
{#font.googleFont}
	@import url(http://fonts.googleapis.com/css?family={font.googleFont}:400,100,300,300italic);
{/font.googleFont}

body {
{#font.body}
	font-size: {size};
	line-height: {lineHeight};
	font-family: {family} ;
	font-style: {style};
	font-weight: {weight};
{/font.body}
{#color.body}
	color: {text};
{/color.body}
}
body, div, ul, a, h1, h2, h3, span {
	padding: 0;
	margin: 0;
}

ul { 
	list-style: none;
}
p {
	margin: 6px 0 ;
}
.table-responsive {
	margin-right: -15px;
	margin-left: -15px;
}
a, a:hover, a:active, a:visited { 
	text-decoration: none; 
	color:#000;
}
.position-absolute { 
	position: absolute;
	width:100%;
}
.hide { 
	display: none;
}
.visible { 
	display: visible
}

.block {
	display: block;
}


/* HEADER */

header, .header {
	padding: 30px ;
	background-color: {color.title.background};
	text-align: center;
}

header  h1, .header  h1{ 
	font-size: {font.title.size};
	font-weight: {font.title.weight};
	color: {color.title.text};	
	font-style: {font.title.style};
	font-family:{font.title.family};
	line-height: {font.title.lineHeight};
}


header.tabs, .header.title {  /* an image as header or tabs, don't need padding*/
	padding:0px  0px;
	margin: 0px;
}

header.tabs > h1, .header.title >h1{
	line-height: {font.title.lineHeight};
	margin:0 30px;
}

/* circle image */

.image-container > p {
	padding:0;
	margin:0;
}

.image-container.circle > p > span { 
	width: 183px;
	padding: 4px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	border-radius: 100%;
	display: block
}
.image-container.circle > p{
	height:87.5px;
}
.image-container.circle > p:first-child{

	margin: 0 -15px;
	background-color: {color.title.background};
}

.image-container.circle > p > span > img {
	border-radius: 100%;
	margin: 0 auto;
	width: 175px;
	height: 175px;
}

/* banner image */
.image-container.banner { 
	margin: 0 -15px;
	padding: 0;
}

.image-container.banner  > p > span > img {
	width: 100%;
	height: 230px;
	visibility: hidden;
}

/* CONTENT */
.page-content { 
	margin-top: 15px
}

.drop-cap > p:first-child:first-letter { 
	float: left;
	font-size: 36pt;
	line-height: .8;
	padding-right: 4px;
	font-weight: 600;
}
/* table */
.table-container {
	padding:0;
	margin:0;
}
thead {
	background-color: #fff;
}
.table > thead > tr > th {
	border-bottom-color:{color.highlight};
	color:{color.highlight};
}
/* tabs */


.tab-btn {
	padding:0 ;
	text-align: center;
	font-size: 22px;
}
.tab-btn > a { 
	background-color: {color.title.background};
	display: block;
	padding: 18px;
	color: rgba(255, 255, 255, 0.68);

	text-transform: uppercase;
	font-family: {font.tabs};
	border-bottom: solid 5px {color.title.background};
}
.tab-btn > a.active{
	border-bottom: solid 5px {color.highlight};
	color:rgba(255, 255, 255, 1);
}
.content-tab{
	margin-top:54px; /* margin-top : height of the fixed elements; */
}
h1.title{
	padding: 12px 0px;
}

/* fixed elements when screen is big enough*/
.title { 
 background-color: {color.title.background};;
}

.fixed {
	margin-top:0 ;
	display: none;
}
header.tabs {
	display: block;
}
.tabs { 
	display: none;
}
.tabs.fixed { 
	position:relative;
	margin: -30px -30px auto ;
	top: 0;
	left:0;
	margin:0;
	display: block;
	width:100%;
}

@media (min-height: 450px) {
	.fixed { 
		display: block;
		position: fixed;
		z-index: 3;
		width: 100%;
	}
	.tabs { 
		display: block;
	}
	.tabs.fixed { 
		position:fixed;
	}
	header .scrollable { /* if we want to allow scroll part of the header */
		margin-top: 37px ;  /* tabsHeight - headerPadding (30) */
	}
	
	.title.fixed{ /*if title with tabs*/
		background-color:{color.title.background};
		top: 80px; /* if tabs -> top : tabsHeight*/
		left:0;
		margin: 0px ;
	}

}

/* buttons */

.btn {
	padding:0 ;
	width:100%;
}

.btn > a {
	display: block;
	padding: 10px 6px;
	color: #fff;

}


