<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>Speaker</title>
        <link rel="stylesheet" href="css/style.css">      
    </head>

    <body>
        <header>
            <p>
                {#image}
                <img class="speaker" src="{src}" alt="speaker" title="speaker" width="175" height="175"/> 
                {/image}
            </p>
            <h1>{title}</h1>    
        </header>

        <div class="content">
            <!--<p>
                Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.
            </p>-->

            <p>{content|s}</p>
        </div>

    </body>

</html>
