<!DOCTYPE html>
<html lang="en" x-manifest="cache.manifest">
    <head>
        <meta charset="utf-8">
        <title>image in a circle</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css">   

     
    </head>

    <body>
        <header>
                <h1>Lorem ipsum</h1>     
        </header>

        <div  class="image-container circle">
             <p>
                <span>
                    <img   src="images/example.png" alt=" example" title=" example" width="175" height="175"/> 
                </span>
             </p>
             <p></p>
        </div>
           
        <div class=" container-fluid page-content drop-cap">
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>
            <p>
                <strong>Author of The Creative Edge Policy Tool Kit “Supporting the Development of the Creative Economy – policy prompts for Festival and Events”.</strong>
            </p>

        </div>
    </body>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>   
</html>

