
body {
	background-color: #fff;
	color: #555;
	font-family: georgia;
	font-size: 25px;
	font-weight: 100;
	padding: 0 ;
	margin: 0;
	line-height: 1.4;
	text-align: center;
}

img.speaker { 
	border-radius: 100%;
	margin: 0 auto;

}
header { 
	padding:0;
	margin:0;
}
header > h1 {
	color: #3498DB;
	font-size: 50px;
	line-height: 130%;
	font-weight: 300;
	margin: 10px;
}

.content { 
	padding: 25px;
}

/* list */
header.list > div {
	margin:0;
	padding:0;
	line-height: 0;
}
header.list > div >img{
	width:100%;
	height:auto;

}
.content-list{
	background-color: #f8f8f8;

}
.list { 
	list-style: none;
	padding: 0;
	margin: 0;
	height:100%;
	background-color: #f8f8f8;
}
.event { 
	background-color: #4D4F94;
	color: #fff;
	width: 100%;
	text-align: left;
	margin:3px 0;
}

.event {
	display: table;
	width:100%;
}
.event > .date {
	
	line-height: 1.3;
	display: table-cell;
	padding:20px;

	font-size: 35px;
	font-weight: 300;
	margin:0;
}


.event >  .arrow {
	vertical-align: middle;
	display: table-cell;
	padding-right:20px;
}

.event >  .arrow >img {
	vertical-align: middle;
}

.event:active{
	background: #5691EA ;
	color: #fff;	
}

/* event */
header.event-page {
	background-color: #3498DA;
	color: #fff;
	padding:15px;
}
header.event-page > .date {
	font-size:  18.75pt;
	font-weight: 400;
	margin: 8px;
}

.time, .title.speakers { 
	color: #3398DA;
	font-size: 18.75pt;
	font-weight: bold;
	margin:0;
}
.title.speakers{
	margin:15px 0 ;
}

h1{
	color: #3398DA;
	font-size: 37.5pt;
	font-weight: bold;
	font-style: italic;
	margin:10px;
}

.description {
	color: #555;
}

a.speaker-link{
	width: 100%;
	padding:15px;
	text-decoration: none;
	color: #4D4F94;
	border: solid 1px rgba(77,79,148,.5);
}

.speaker-link:hover, .speaker-link:active {
	background-color: rgba(77,79,148,.5);
	color: #fff;
}
/* contact */


header.contact > h1 {
	font-weight: 100;
	margin-bottom:50px;
	color: #4D4F94;
	font-style: normal
}

.image-container { 
	margin: 0 auto ;
	border: solid 1px rgba(77,79,148,.5); 
	border-radius: 100%;
	height: 150px;
	width: 150px;
	margin-top:35px;
}

.image-container > p.logo{
	margin-top: 53px;
}

.button{
	
	width: 100%;
	margin: 10px 0;
	text-align: center;	
	

}
.button > a {
	border-radius: 10px;
	display: block; 
	text-decoration: none;
	color:#4D4F94;
	width:100%;
	line-height: 2.4;
	border: solid 1px rgba(77,79,148,.5); 
	
}
.button > a:hover, .button > a:active {
	background-color: rgba(77,79,148,.5);
	color: #fff;
}

