
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic);


body {
  font-size: 18px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  font-family: Roboto;
}
body,
div,
a,
h1,
h2,
h3,
span {
  padding: 0;
  margin: 0;
}
ul {
  /*list-style: none;*/
}
p {
  /*margin: 0.375em 0 ;
  6px*/
}
.table-responsive {
  margin-right: -0.9375em;
  /*-15px*/
  margin-left: -0.9375em;
  /*-15px*/
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}
.position-absolute {
  position: absolute;
  width: 100%;
}
.hide {
  display: none;
}
.visible {
  display: visible;
}
.block {
  display: block;
}
.fixed {
  margin-top: 0 ;
  display: none;
}
header,
.header {
  padding: 1.875em ;
  /*30px*/
  text-align: center;

  background: #00659a; /* Old browsers */
  background: -moz-linear-gradient(left, #00659a 0%, #004c66 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00659a), color-stop(100%,#004c66)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00659a 0%,#004c66 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00659a 0%,#004c66 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00659a 0%,#004c66 100%); /* IE10+ */
  background: linear-gradient(to right, #00659a 0%,#004c66 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00659a', endColorstr='#004c66',GradientType=1 ); /* IE6-9 */
 
}
header > div.title,
.header > div.title {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}
.header >.short-description,
header > .short-description {
  color: #fff;
  line-height: 1.4;
  padding: 8px;
  font-style: italic;
}
.header.fixed {
  margin: 0 -1.875em;
}
.events .header .title {
  font-weight: 600;
}
/* ****  shapes css **** */
.shape-container.banner {
  /*margin: 0 -0.9375em; -15px*/
  padding: 0;
  margin: 0;
  text-align: center;
}
.shape-container.banner > div > p > img {
  width: 100%;
  height: 250px;
  /*14.375em*/
  visibility: hidden;
}
.shape-container.banner.time > div > p {
  width: 200px;
  margin: 0 auto;
  padding: 15px 0;
}
.shape-container.banner.time {
  background: linear-gradient(to right, #00659a, #004c66);
}
.shape-container.banner > div > p {
  margin: 0;
}
.shape-container.circle {
  padding: 0;
  margin: 0 0 15px ;
}
.shape-container.circle.time {
  margin-bottom: 110px;
  background: linear-gradient(to right, #f8f8f8, #f8f8f8);
}
.shape-container.circle > p,
.shape-container.circle > div {
  height: 87.5px;
  /*5.46875em*/
}
.shape-container.circle.time > div:first-child {
  /*margin: 0 -0.9375em; -15px*/
  padding-top: 15px;
  background: #00659a; /* Old browsers */
  background: -moz-linear-gradient(left, #00659a 0%, #004c66 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00659a), color-stop(100%,#004c66)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00659a 0%,#004c66 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00659a 0%,#004c66 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00659a 0%,#004c66 100%); /* IE10+ */
  background: linear-gradient(to right, #00659a 0%,#004c66 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00659a', endColorstr='#004c66',GradientType=1 ); /* IE6-9 */
 

}
.shape-container.circle.image > div:first-child {
  /*margin: 0 -0.9375em; -15px*/
  padding-top: 15px;
  background: #00659a; /* Old browsers */
  background: -moz-linear-gradient(left, #00659a 0%, #004c66 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00659a), color-stop(100%,#004c66)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00659a 0%,#004c66 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00659a 0%,#004c66 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00659a 0%,#004c66 100%); /* IE10+ */
  background: linear-gradient(to right, #00659a 0%,#004c66 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00659a', endColorstr='#004c66',GradientType=1 ); /* IE6-9 */
 
  background: linear-gradient(to right, #00659a, #004c66);
}
.shape-container.circle > div > p {
  width: 183px;
  /*11.4375em*/
  height: 183px;
  /*11.4375em*/
  padding: 0.25em;
  /*4px*/
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  display: block;
}
.shape-container.circle > div > p > span {
  border-radius: 100%;
  display: table-cell;
  width: 183px;
  height: 183px;
  vertical-align: middle;
  background: linear-gradient(to right, #f8f8f8, #f8f8f8);
  background: #f8f8f8 ;
}
.shape-container.circle.image > div > p {
  background-color:#FF9B00;

  }
.shape-container.time.banner span {
  display: inline;
}
.shape-container.time.banner span {
  display: block;
}
.shape-container.circle > div > p > img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  visibility: visible;
}
/* content style classes */
.dropCap > p:first-child:first-letter {
  float: left;
  font-size: 2.1em;
  /*36pt*/
  line-height: .8;
  padding-right: 0.25em;
  /*4px*/
  font-weight: 600;
  padding: 0.083em ;
  /*30px*/
}
/* ****  types css **** */
.header.position-absolute {
  padding: 0;
}
.date {
  font-size: 28px;
  color: #ffffff;
  font-weight: 100;
  font-style: normal;
  font-family: Helvetica;
}
.time {
  font-size: 25px;
  color: #000000;
  font-style: bold;
  text-align: center;
}
.description {
  font-size: 18px;
  color: #000000;
  font-style: normal;
  text-align: left;
  background:  #ffffff;
  padding: 0.833em;
  padding-top: 0.556em;
}
@media (min-height: 450px) {
  .fixed {
    display: block;
    position: fixed;
    z-index: 3;
    width: 100%;
  }
}

/* programm */
body.programme{
  background: #ECECFB;

}
.programme .img {
   width: 100%;
  }

.list { 
  list-style: none;
  padding: 0;
  margin: 0;
  height:100%;
}
.event { 
  color: #fff;
  width: 100%;
  margin-bottom: 2px;
  max-height:50%;
  height:35%;
  position:absolute;
  top: 26% ;
}

.event > .banner >img { 
  width: 100%;
  min-height: 140px;
  max-height:30%;
}

.event > .details-container{
  display: table;
  width: 100%;
  margin-right: 10px;
  background: -moz-linear-gradient(left, #00659a 0%, #004c66 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00659a), color-stop(100%,#004c66)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00659a 0%,#004c66 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00659a 0%,#004c66 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00659a 0%,#004c66 100%); /* IE10+ */
  background: linear-gradient(to right, #00659a 0%,#004c66 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00659a', endColorstr='#004c66',GradientType=1 ); /* IE6-9 */
  
}

.event > .details-container> .details {

  line-height: 1.2;
  display: table-cell;
  padding:8px;
 
} 

.event > .details-container> .details > .date {
  font-size: .8em;
  font-weight: bold;
  margin:0;
}

.event > .details-container > .details > h1.desc { 
  font-size: .5em;
  font-weight: 300;
  margin:0;
  background-color: transparent;
  color:#fff;
}

.event > .details-container >  .arrow {
  vertical-align: middle;
  display: table-cell;
  padding-right:0px;

}

/*   contact   */
.contact .description { 
  background :#ececfb;
}
.contact > .description > .button {
  color:#fff;
  border:none;
  display:block;
  padding:0px;
  width:100%;
  margin: 8px 0;
  font-size: 1.2em;
  border-radius:4px;
}
.contact > .description >.button >a{
  padding:10px;
  color:#fff;
  display:block;
  width:100%;
}
.contact > .description > .button.call >a {
  background: #c9da3b;
}
.contact > .description > .button.contact  >a{
  background:#21b0bd;
}
.contact > .description > p {
  margin-bottom:25px;
}
.linkedin{
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  margin-top:16px;

} 
.linkedin a{
  background-color: #00659b;
  color:#fff;
  display: block;
  padding:10px;
}
.linkedin i {
  padding: 6px 10px 10px;
  background: #fff;
  color: #00659b;
  border-radius: 100%;
  margin: 0 14px;
  font-size: 1em;
}
