@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic);

body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', helvetica;
	font-size: 1.25em;
	font-weight: 100;
	padding: 0 ;
	margin: 0;
}
a {
	text-decoration: none;
	color:#000;
}
header { 
	text-align: center;
	padding: 40px;
	color: #fff;
	/*position: relative;*/

	background: #00a9e1; /* Old browsers */
	background: -moz-linear-gradient(left, #00a9e1 0%, #4dbd9d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a9e1), color-stop(100%,#4dbd9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #00a9e1 0%,#4dbd9d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #00a9e1 0%,#4dbd9d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #00a9e1 0%,#4dbd9d 100%); /* IE10+ */
	background: linear-gradient(to right, #00a9e1 0%,#4dbd9d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9e1', endColorstr='#4dbd9d',GradientType=1 ); /* IE6-9 */
}
 .image-container { 
	width:175px;
	height:175px;
	padding:4px;
	margin:0 auto;
	margin-top: -87.5px;

	text-align: center;
	background-color: #fff;
	border-radius: 100%;
}

.image-container > img { 
	border-radius: 100%;
	margin: 0 auto;

}

header > p.dash{
	margin:0;
	margin-top: -15px;
	line-height: 1;
}
header h1 {
	font-size: 1.8em; /*3em*/
	line-height: 130%;
	font-weight: 300;
	margin: 10px;
}

header h2 {
	font-size: 1.2em;
	font-weight: 300;
	font-style: italic;
	line-height: 120%;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom:60px;
}

.content { 
	padding: 25px;
	padding-top:5px;
}
p > strong { 
	font-weight: 400;
}

/* programm */
.list { 
	list-style: none;
	padding: 0;
	margin: 0;
	height:100%;
}
.event { 
	color: #000;
	width: 100%;
	height: 50%;
	max-height: 50%;
	padding-top: 55%%
}

.event > .banner >img { 
	width: 100%;
	min-height: 140px;
	max-height:30%;
}

.event > .details-container{
	display: table;
	width:100%;
}
.event > .details-container> .details {
	
	line-height: 1.3;
	display: table-cell;
	padding:20px;

} 
.event > .details-container> .details > .date {
	font-size: 1.3em;
	font-weight: bold;
	margin:0;
}

.event > .details-container > .details > h1.description { 
	font-size: .8em;
	font-weight: 300;
	margin:0;
}

.event > .details-container >  .arrow {
	vertical-align: middle;
	display: table-cell;
	padding-right:20px;
}

.event > .details-container >  .arrow >img {
	vertical-align: middle;
}

.event:active >a {
	color:#fff;
		background: #D31A54 ;

}
.event:active > .details-container >  .arrow >img { 
	content: url(../images/listArrow-white.png);
}

/* event */
header.event-page {
	background: #bd1664; /* Old browsers */
	background: -moz-linear-gradient(left, #bd1664 0%, #f37324 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bd1664), color-stop(100%,#f37324)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #bd1664 0%,#f37324 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #bd1664 0%,#f37324 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #bd1664 0%,#f37324 100%); /* IE10+ */
	background: linear-gradient(to right, #bd1664 0%,#f37324 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd1664', endColorstr='#f37324',GradientType=1 ); /* IE6-9 */
}
header.event-page > .date {
	font-size:  .8em;
	font-weight: 400;
	margin: 8px;
}
header.event-page > h1{
	font-size: 1.75em;
	line-height: 120%;
	margin:8px;
	margin-bottom: 40px;
}

.time { 
	display: table;
	background-color: #fff;
	font-size:  1.3em;
	font-weight: 300;
	border-radius: 100%;
	height:175px;
	width:175px;
	text-align: center;
	margin:0 auto;
	margin-top: -87.5px;
	padding:4px;
}
.time > p > span { 
	font-weight: 100
}

.time > p {
	display: table-cell;
	border-radius: 100%;
	background-color: #f8f8f8;
	height:170px;
	width:170px;
	margin:0 auto;
	vertical-align: middle;
}

/* contact */
header.contact { 
	background: #000;
	
	font-weight: 100;
}
header.contact >h1 {
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom:50px;
	font-family: 'Roboto', helvetica;
	padding-bottom:40px;
}
.logo-container {
	width: 175px;
	height: 175px;
	padding: 4px;
	display: table;
	margin:0 auto;
	margin-top: -87.5px;

	text-align: center;
	background-color: #fff;
	border-radius: 100%;
}
.logo-container > p.logo{
	display: table-cell;
	vertical-align: middle;
	width: 170px;
	height: 170px;
	background-color: #f8f8f8;
	border-radius: 100%;
}
.logo-container > p img {
	max-width: 130px;
	width:100%;
	height: auto;
}
.content-contact {
	margin-top: -50px;
}

.button{
	text-align: center;	
	
}
.button >a { 
	padding:10px;
	text-decoration: none;
	color:#fff;
	display: block;
	border-radius: 10px;
	width: 100%;

}
#contact-us{
	border-radius: 10px;
	background-color:#21B0BD;
}
#call-us{
	border-radius: 10px;
	background-color:#C9DA3B;
	margin-bottom: 50px;
}
#contact-us:active, #call-us:active, #contact-us:hover, #call-us:hover{
	background: #D31A54 ;
	
}
